.logo img{
	width: 100%;
}
.big-text p{
	font-size: 3em;
	letter-spacing: 1em;
}
.big-text p span{
	font-size: 1.5em;
	letter-spacing: 0.6em;
}
nav li a{
	font-size: 1.5em;
	line-height: .9;
}
.nav a .e{
	font-size: .9em;
	color: #b60303;
}
.nav a:hover{
	color: #b60303;
}
.nav a:hover .e{
	color: #000;
}
.footer .content{
	padding-top: 200px;
}
@media screen and (max-width: 576px) {

	.logo{
		padding-top: 100px;
	}
	.footer .content{
		margin-top: -40px;
	}
	.big-text p{
		font-size: 2em;
		letter-spacing: 0.6em;
	}
	.big-text p span{
		font-size: 1.5em;
		letter-spacing: 0.2em;
	}
	nav li a{
		font-size: 1.5em;
		line-height: .9;
	}
}